body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    
}

.margin{
    margin: auto;
    text-align: justify;
    max-width: 1270px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 19px;
}

.espacamento{
    padding-top: 30px;
}

.espacamento_ul{
    padding-top: 5px;
}

#espacamento-fim{
    padding-top: 40px;
}
#centralizar{
    text-align: center;
    list-style: none;
    padding: 0;
}

ul{
    font-size: 19px;
}

#container{
    text-align: center;
}

#grupo-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%; 
}

.interatividade{
    max-width: 100px;
    transition: transform 0.3s;
}

.interatividade:hover {
    transform: scale(1.5); 
}