body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
}

.margin{
    margin: auto;
    text-align: justify;
    max-width: 1270px;
    display: flex;
    justify-content: center;
}